[submodule "ThirdParty/simplesquirrel"]
	path = ThirdParty/simplesquirrel
	url = https://github.com/matusnovak/simplesquirrel.git
[submodule "ThirdParty/squirrel"]
	path = ThirdParty/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "ThirdParty/cereal"]
	path = ThirdParty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "ThirdParty/box2d"]
	path = ThirdParty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/imgui_sdl"]
	path = ThirdParty/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "ThirdParty/argh"]
	path = ThirdParty/argh
	url = https://github.com/adishavit/argh
